<!doctype html>
     <html>
     
     <body>
     
     <style>
     
       body {margin: 0;padding: 0;color: #000;font-family: Arial, Helvetica, sans-serif;width: 100%; font-size:12px;} 
       @page {margin-top: 25px;margin-bottom: 25px; margin-left: 30px;margin-right: 30px;}
        .clear { clear: both; }
       img { border: 0;outline: 0;}
       .form-wrapper { width: 100%;margin: 0 auto;padding: 0;}
       table, tr, td, th {border-collapse: collapse; border-spacing:0; padding:3px 5px;}
   
   
     
    
   </style>
   
   
   
   <body>
   
   <div class="form-wrapper">
   
       <table  width="100%">
           <tbody>
               <tr>
                   <td>
                       <table style="width:100%;border-bottom:1px solid #ddd;">
                           <tr>
                               <td align="left" style="width:60%; padding-bottom:10px;"><img src="images/logo_new.gif" alt="" title="" style=""></td>
                               <td align="right" style="width:30%;text-align:right; padding-bottom:10px;">
                                   <div style="font-size:16px; display:block;font-weight:bold; padding-bottom:5px;">company Name Private Limited</div>
                                    <div style="font-size:12px; ">Adarsh Nagar Office: 372-B,
                                    Adarsh Nagar, Near Bhag Singh Chowk,
                                    Jaipur – 302004</div>
                                 
                               </td>
                              
                           </tr>
                       </table>
   
                       <table style="width:100%; padding-top:30px;font-size:11px;padding-bottom:0px;    border: 1px solid #000;" >
                        <tr>
                          <th colspan="4" style="font-size:16px; font-weight:bold; padding:5px;border: 1px solid #000;"><span style="color:blue;">Payslip for March 2020</span></th>
                        </tr>
                            <tr>
                                <td style="font-weight:bold; width:15%;border-right: 1px solid #000;">Emp. No.</td>
                                <td style="font-weight:bold;  width:40%;border-right: 1px solid #000;">12345678</td>
                                <td style=" width:15%; border-right: 1px solid #000;">Entity Name</td>
                                <td style=" width:30%;">company Name Private Limited</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold; width:15%;border-right: 1px solid #000;">Name</td>
                                <td style="font-weight:bold;  width:40%;border-right: 1px solid #000;">Saroj Jha</td>
                                <td style=" width:15%; border-right: 1px solid #000;">Bank Name</td>
                                <td style=" width:30%;">HDFC Bank</td>
                           </tr>
   
                           <tr>
                           <td style=" width:15%;border-right: 1px solid #000;">Department</td>
                           <td style="width:40%;border-right: 1px solid #000;">XYZ</td>
                           <td style="width:15%;border-right: 1px solid #000; ">Bank Account #</td>
                           <td style="width:30%;">234135689966</td>
                            </tr>
   
                            <tr>
                            <td style=" width:15%;border-right: 1px solid #000;">Designation</td>
                            <td style="width:40%;border-right: 1px solid #000;">UI Developer</td>
                            <td style="width:15%;border-right: 1px solid #000; ">Aadhar #</td>
                            <td style="width:30%;border-right: 1px solid #000;"></td>
                             </tr>
                             <tr>
                             <td style=" width:15%;border-right: 1px solid #000;">Location</td>
                             <td style="width:40%;border-right: 1px solid #000;">Gurgaon</td>
                             <td style="width:15%; border-right: 1px solid #000;">PAN #</td>
                             <td style="width:30%;border-right: 1px solid #000;">234135689966</td>
                              </tr>
                              <tr>
                              <td style=" width:15%;border-right: 1px solid #000;">Gender</td>
                              <td style="width:40%;border-right: 1px solid #000;">Male</td>
                              <td style="width:15%; border-right: 1px solid #000;">UAN #</td>
                              <td style="width:30%;">234135689966</td>
                               </tr>
                               <tr>
                               <td style=" width:15%; border-right: 1px solid #000;">Date of Birth</td>
                               <td style="width:40%;border-right: 1px solid #000;">24-06-2020</td>
                               <td style="width:15%; border-right: 1px solid #000;">ESI No.</td>
                               <td style="width:30%;">234135689966</td>
                                </tr>
                                <tr>
                                <td style=" width:15%;border-right: 1px solid #000;">Date of Joining</td>
                                <td style="width:40%;border-right: 1px solid #000;">24-06-2020</td>
                                <td style="width:15%; border-right: 1px solid #000;">PF No.</td>
                                <td style="width:30%;">234135689966</td>
                                 </tr>
   
                                 <tr>
                                 <td style=" width:15%;border-right: 1px solid #000;border-top: 1px solid #000;border-bottom: 2px solid blue;font-weight:bold">Attendance</td>
                                 <td colspan="3" style="width:40%;font-weight:bold;border-top: 1px solid #000;border-bottom: 2px solid blue;">Paid Days <span>31</span><br>Arrear Days <span>0</span></td>
                                
                                  </tr>
                        </tr>
                        </tr>
                    </table>
   
   
   
                    <table style="width:100%;font-size:11px;    border: 1px solid #000;" >
                    <tr>
                      <th   style="font-size:11px; font-weight:bold; padding:5px;border: 1px solid #000; width:25%;border-bottom: 2px solid red;">Earnings</th>
                      <th  style="font-size:11px; font-weight:bold; padding:5px;border: 1px solid #000;width:15%;border-bottom: 2px solid red;">Master Rate</th>
                      <th  style="font-size:11px; font-weight:bold; padding:5px;border: 1px solid #000;width:15%;border-bottom: 2px solid red;">Current Month</th>
                      <th  style="font-size:11px; font-weight:bold; padding:5px;border: 1px solid #000; width:30%;border-bottom: 2px solid red;">Deductions</th>
                      <th  style="font-size:11px; font-weight:bold; padding:5px;border: 1px solid #000; width:15%;border-bottom: 2px solid red;">Current Month</th>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #000;">Basic</td>
                        <td style=" border-right: 1px solid #000;text-align:right;">10000.00</td>
                        <td style="border-right: 1px solid #000;text-align:right;">10000.00</td>
                        <td style="border-right: 1px solid #000;">Provident Fund</td>
                        <td style="text-align:right;">1500.00</td>
                    </tr>
   
                    <tr>
                    <td style=";border-right: 1px solid #000;">House Rent Allowance</td>
                    <td style=" border-right: 1px solid #000;text-align:right;">10000.00</td>
                    <td style="border-right: 1px solid #000;text-align:right;">10000.00</td>
                    <td style="border-right: 1px solid #000;">Labour Welfare Fund</td>
                    <td style="text-align:right;">1500.00</td>
                </tr>
                <tr>
                <td style="border-right: 1px solid #000;">Special Allowance</td>
                <td style=" border-right: 1px solid #000;text-align:right;">10000.00</td>
                <td style="border-right: 1px solid #000;text-align:right;">10000.00</td>
                <td style="border-right: 1px solid #000;">Salary Advance</td>
                <td style="text-align:right;">1500.00</td>
            </tr>
   
            <tr>
            <td style="border-right: 1px solid #000;">Statutory Bonus</td>
            <td style=" border-right: 1px solid #000;text-align:right;">10000.00</td>
            <td style="border-right: 1px solid #000;text-align:right;">930.00</td>
            <td style="border-right: 1px solid #000;"></td>
            <td style="text-align:right;"></td>
        </tr>
   
        <tr>
        <td style="border-right: 1px solid #000;"></td>
        <td style=" border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;"></td>
        <td style="text-align:right;"></td>
    </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
   
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
    <tr>
    <td style="border-right: 1px solid #000;"></td>
    <td style=" border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;text-align:right;"></td>
    <td style="border-right: 1px solid #000;"></td>
    <td style="text-align:right;"></td>
   </tr>
   <tr>
        <td style="border-right: 1px solid #000;"></td>
        <td style=" border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;"></td>
        <td style="text-align:right;"></td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #000;"></td>
        <td style=" border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;"></td>
        <td style="text-align:right;"></td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #000;"></td>
        <td style=" border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;"></td>
        <td style="text-align:right;"></td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #000;"></td>
        <td style=" border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;text-align:right;"></td>
        <td style="border-right: 1px solid #000;"></td>
        <td style="text-align:right;"></td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #000;border-top: 1px solid #000; text-align:right; font-weight:bold;">Total</td>
        <td style=" border-right: 1px solid #000;border-top: 1px solid #000;text-align:right;">200000.00</td>
        <td style="border-right: 1px solid #000;border-top: 1px solid #000;text-align:right;">200000.00</td>
        <td style="border-right: 1px solid #000;border-top: 1px solid #000;"></td>
        <td style="border-top: 1px solid #000;text-align:right;">10000.00</td>
    </tr>
   
    <tr>
    <td style="border-top: 1px solid #000;  font-weight:bold;font-size:12px;">Net Pay: <span>Rs. 1000</span></td>
    <td colspan="4" style=" border-top: 1px solid #000; font-style:italic;">Rupees One Thousand Only</td>
   
   </tr>
   
   
   <tr>
   <td style="border-right: 1px solid #000;border-top: 1px solid #000;  font-weight:bold;">&nbsp;</td>
   <td style=" border-right: 1px solid #000;border-top: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;border-top: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;border-top: 1px solid #000;">&nbsp;</td>
   <td style="border-top: 1px solid #000;text-align:right;">&nbsp;</td>
   </tr>
   
   
   <tr>
   <td style="border-right: 1px solid #000;  font-weight:bold;">&nbsp;</td>
   <td style=" border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;">&nbsp;</td>
   <td style="text-align:right;">&nbsp;</td>
   </tr>
   <tr>
   <td style="border-right: 1px solid #000;  font-weight:bold;">&nbsp;</td>
   <td style=" border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;">&nbsp;</td>
   <td style="text-align:right;">&nbsp;</td>
   </tr>
   <tr>
   <td style="border-right: 1px solid #000;  font-weight:bold;">&nbsp;</td>
   <td style=" border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;">&nbsp;</td>
   <td style="text-align:right;">&nbsp;</td>
   </tr>
   <tr>
   <td style="border-right: 1px solid #000;  font-weight:bold;">&nbsp;</td>
   <td style=" border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;">&nbsp;</td>
   <td style="text-align:right;">&nbsp;</td>
   </tr>
   <tr>
   <td style="border-right: 1px solid #000;  font-weight:bold;">&nbsp;</td>
   <td style=" border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;text-align:right;">&nbsp;</td>
   <td style="border-right: 1px solid #000;">&nbsp;</td>
   <td style="text-align:right;">&nbsp;</td>
   </tr>
   
   <tr>
   
   <td colspan="5" style=" border-top: 1px solid #000; font-style:italic;">&nbsp;</td>
   
   </tr>
   <tr>
   
   <td colspan="5" style=" border-top: 1px solid #000; font-style:italic;">&nbsp;</td>
   
   </tr>
   
   
   
                   
                       
                    
                     
                    </tr>
                    </tr>
                </table>

                <table>
                <tbody>
                <tr>
                <td colspna="5" style="font-size:9px;">Please Note: This is a system generated payslip, does not require any signature</td>
                </tr>
                </tbody>
                </table>
   
   
                   </td>
               </tr>
        </tbody>
       </table>
   
    <!-- main table -->
       
   </div>
   
   
   
   </body>
   </html>