<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mainBox {
            background: #F9F9F9 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 10px;          
        }


    </style>
</head>
<body>
    <div class="mainBox" style="width: 700px; align-self: center;">
        <header>
            <div style="padding: 15px 20px 0px;"><img src="dummylogo.png"  height="42" title="" /></div>
        </header>
        <h2 style="background:#EFF6FE 0% 0% no-repeat padding-box;font: Bold 20px/25px Muli;line-height: 50px; text-align: center;">Job Offer</h2>
        <div style="padding: 0px 20px 30px;">
           

            <h6 style="font: bold 12px/20px Muli;color: #000000;">
                Dear Abc
            </h6>
            <p style="font: Italic 12px/20px Muli;color: #000000;">
                We received a request to reset your VowFirst password. Enter the password reset code: 86878
                </p>

                <p style="font: Italic 12px/20px Muli;color: #000000;"> 
                    Alternatively, you can directly change your password.
                </p>

                <button style="width: 130px;
                height: 26px; border:none;
                background: #F8709E 0% 0% no-repeat padding-box;
                border: 1px solid #F8709E;
                border-radius: 3px; color:#fff">
                    Change password
                </button>

            <p style="font: bold 12px/20px Muli;color: #000000;">Didn’t request this change?</p>

            <span style="display:block; font: Italic 12px/20px Muli;color: #000000;">If you didn’t request a new password,<a href="#">let us know.</a></span>            
        </div>

    </div>
    
</body>
</html>