<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mainBox {
            background: #F9F9F9 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 10px;          
        }


    </style>
</head>
<body>
    <div class="mainBox" style="width: 700px; align-self: center;">
        <header>
            <div style="padding: 15px 20px; 0px"><img src="dummylogo.png"  height="42" title="" /></div>
        </header>
        <h2 style="background:#EFF6FE 0% 0% no-repeat padding-box;font: Bold 20px/25px Muli;line-height: 50px; text-align: center;">Job Offer</h2>
        <div style="padding: 0px 20px 30px;">
           

            <h6 style="text-align: left;font: bold 12px/20px Muli;color: #000000;">
                Dear Abc
            </h6>
            <p style="text-align: left;font: Italic 12px/20px Muli;color: #000000;">
                Please send us following documents by clicking on <b>“Upload”</b>> Link.
                </p>

                <p style="text-align: left;font: Italic 12px/20px Muli;color: #000000;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum, 
                    Alternatively, you can directly send all below mentioned documents on <b>“hr@companyname.com”.</b> 
                </p>
<table border-collapse:collapse; style="width: 100%;
margin-top: 10px;">
    <tr style="height: 40px; text-align: left; background: #EFF6FE 0% 0% no-repeat padding-box; ">
        <th style="font: bold 12px/25px Muli SemiBold;
        padding: 5px 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;">Document Type</th>
        <th style="font: bold 12px/25px Muli SemiBold;
        padding: 5px 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;">Status</th>
        <th style="font: bold 12px/25px Muli SemiBold;
        padding: 5px 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;">Actions</th>
    </tr>

    <tr>
        <td style="padding:5px 20px; font: Bold 12px/25px Muli; color:#ED0F7E; border-bottom: 1px solid #ccc;">Passport</td>
        <td style="padding:5px 20px; font: normal 12px/25px Muli; color: #E32323CC; border-bottom: 1px solid #ccc;">Pending…</td>
        <td style="padding:5px 20px; border-bottom: 1px solid #ccc;"><button style="background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F8709E;
            border-radius: 3px; color:#F8709E;">Upload</button></td>
    </tr>
    <tr>
        <td style="padding:5px 20px; font: Bold 12px/25px Muli; color:#ED0F7E; border-bottom: 1px solid #ccc;">Passport</td>
        <td style="padding:5px 20px; font: normal 12px/25px Muli; color: #E32323CC; border-bottom: 1px solid #ccc;">Pending…</td>
        <td style="padding:5px 20px; border-bottom: 1px solid #ccc;"><button style="background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F8709E;
            border-radius: 3px; color:#F8709E;">Upload</button></td>
    </tr>
    <tr>
        <td style="padding:5px 20px; font: Bold 12px/25px Muli; color:#ED0F7E; border-bottom: 1px solid #ccc;">Passport</td>
        <td style="padding:5px 20px; font: normal 12px/25px Muli; color: #E32323CC; border-bottom: 1px solid #ccc;">Pending…</td>
        <td style="padding:5px 20px; border-bottom: 1px solid #ccc;"><button style="background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F8709E;
            border-radius: 3px; color:#F8709E;">Upload</button></td>
    </tr>

    <tr>
        <td style="padding:5px 20px; font: Bold 12px/25px Muli; color:#ED0F7E; border-bottom: 1px solid #ccc;">Passport</td>
        <td style="padding:5px 20px; font: normal 12px/25px Muli; color: #E32323CC; border-bottom: 1px solid #ccc;">Pending…</td>
        <td style="padding:5px 20px; border-bottom: 1px solid #ccc;"><button style="background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F8709E;
            border-radius: 3px; color:#F8709E;">Upload</button></td>
    </tr>

</table>
                

            
        </div>

    </div>
    
</body>
</html>